# Python Virtual Environment
.venv/

# PyCharm configuration files
.idea/

# Python Bytecode (Junk files)
*.pyc
__pycache__/

# Other projects you want to keep hidden from GitHub
extra's/
insta_follwer_game/
OOP's start/